# Object files
*.o
*.a
*.so

# Executables
*.exe
a.out

# PETSc / MPI outputs
*.log
*.out
*.err

# Editor files
*~
*.swp
*.swo
.vscode/
.idea/

# Build directories
build/


# Doxygen output
html/
latex/
xml/
man/


# Runtime output / data files
*.dat
*.dat.info
*.log
*.out
*.err
surface*

# Mesh / list files
blist*
elist*
nlist*

# Temporary / scratch
tmp*
test*
ascii_info*

# Runtime input / tuning files
init_*.txt
lr_*.txt
